*

!.gitignore
!.gitconfig
!.gitmodules
!.bashrc
!.bash_profile

!/.bashrc.d/
!/.bashrc.d/**

!/.config/
!/.config/fish/
!/.config/fish/**
!/.config/nvim/
!/.config/nvim/init.lua
!/.config/tmux/
!/.config/tmux/**
!/.config/tmux/plugins/
/.config/tmux/plugins/*
!/.config/tmux/plugins/tpm/

!/.github/
!/.github/**

!/.local/
!/.local/bin/
