*

!.gitignore
!.gitconfig
!.bashrc
!.bash_profile

!/.bashrc.d/
!/.bashrc.d/**

!/.config/
!/.config/fish/
!/.config/fish/**
!/.config/nvim/
!/.config/nvim/copy-mode.lua
!/.config/nvim/init.lua
!/.config/tmux/
!/.config/tmux/**
/.config/tmux/plugins/

!/.github/
!/.github/**

!/.local/
!/.local/bin/
